@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: $turqoise;
}