@import '../utils/variables.scss';
@import '../utils/mixins.scss';


.links-container{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    
}

.links-container li:nth-of-type(8) a{
    font-size: 23px;
}

